<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
       <h1>Re-sell</h1>
       <h5>Buy and sell , anything......<h5>
      <!-- child template -->
	<!--
	<div style="float:left">
		<a href="/login" class="text-center new-account">Sign In</a>
	</div>
	-->
      {% block content %}{% endblock %}

    </div>

  </body>
</html>

